@font-face {
    font-family: 'Norican';
    src: url(../fonts/Norican/Norican-Regular.otf);
    src: url(../fonts/Norican/Norican-Regular.ttf) format("truetype");
}

.container {
    max-width: 800px;
}

#nav a {
    font-weight: bold;
    color: inherit;
}

#nav-border {
    border-bottom: 1px solid #212529;
}

#main {
    margin-top: 1em;
    margin-bottom: 4em;
}

#home-jumbotron {
    background-color: inherit;
}

h1.title {
    font-family: 'Norican';
    font-size: 400%;
}

.font-125 {
    font-size: 125%;
}

.feather-16 {
    width: 16px;
    height: 16px;
}

.tag-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

.share-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

img {
    max-width: 100%;
}

a.title:link, a.title:visited, a.title:hover, a.title:active {
    color: black;
    text-decoration: none;
}

a.summary:link, a.summary:visited, a.summary:hover, a.summary:active {
    color: black;
    text-decoration: none;
}

.footer {
    color: darkgrey;
}