<span id="social">
    <i data-feather="share-2"></i></a>
    <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Social.twitter }}"
        class="btn btn-sm btn-outline-dark share-btn" data-show-count="false" aria-label="Share on Twitter">
        <i class="feather-16" data-feather="twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&summary={{ .Summary | plainify }}&source=Retrolog.io"
        class="btn btn-sm btn-outline-dark share-btn" data-show-count="false" aria-label="Share on LinkedIn">
        <i class="feather-16" data-feather="linkedin"></i></a>
</span>